body{
    height: 3000px;
}

.container{
    width: 320px;
    height: 180px;
    background-color: gray;
    position: fixed;
    bottom:20px;
    right:20px;
}

.close-button{
    position: absolute;
    top: -25px;
    left:-35px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px; 
}

.button-1{
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 40px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 15px;
    padding-right: 15px;
}
