.container{
    width: 200px;
    padding-bottom: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    display: inline-block;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
}
.name{
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 4px;
    font-family: arial;
}
.Friends{
    font-size: 15px;
    color:grey;
    font-family: arial;
    margin-bottom: 10px;
}
.buttons{
    background-color: rgb(16, 16, 202);
    border: none;
    border-radius: 3px;
    margin-left: 8px;
    color: white;
    font-size: 15px;
    font-family: arial;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
}



.container-2{
    width: 200px;
    padding-bottom: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    display: inline-block;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
}
.name-2{
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 4px;
    font-family: arial;
}
.Friends-2{
    font-size: 15px;
    color:grey;
    font-family: arial;
    margin-bottom: 10px;
}
.buttons-2{
    background-color: blue;
    border: none;
    border-radius: 3px;
    margin-left: 8px;
    color: white;
    font-size: 15px;
    font-family: arial;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
}

.container-3{
    width: 200px;
    padding-bottom: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
}
.name-3{
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 4px;
    font-family: arial;
}
.Friends-3{
    font-size: 15px;
    color:grey;
    font-family: arial;
    margin-bottom: 10px;
}
.buttons-3{
    background-color: blue;
    border: none;
    border-radius: 3px;
    margin-left: 8px;
    color: white;
    font-size: 15px;
    font-family: arial;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
}
